.box-div{
    /*position: absolute;*/
    width: 40%;
    min-width: 800px;
    /*height: 500px;*/
    /*margin-top: 20%;*/
    margin-left: 30%;
    margin-right: 30%;
    visibility: hidden;
    background-color: #9e344f;
}

.RateOfFlowWindow-div{
    position: absolute;
    /*width: 100%;*/
    min-width: 800px;
    /*!*height: 500px;*!*/
    margin-top: 10%;
    /*margin-left: 30%;*/
    /*margin-right: 30%;*/
    top: 0px;
    background-color: #EFF5F7;
    padding: 20px;
}

.RateOfFlowWindow-all{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    background-color: white;
}

.RateOfFlowWindow-all-label{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.RateOfFlowWindow-all-flow-label{
    width: 200px;
    align-self: center;
    background-color: #6be6c1;
    text-align: center;
    padding: 5px;
    margin-right: 20px;
    color: white;
    border-radius: 3px;
}

.RateOfFlowWindow-all-fill{
    flex-grow: 1;
}

.freeflow{
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 260px;
}

.freeflow-label{
    font-size: smaller;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.freeflow-chart{
    width: 50%;
}