.workspace{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 100%;
    background-color: white;
    top: 0px;
    right: -260px;
    transition: 300ms;
    overflow-y: auto;
}

.workspace-title{
    margin-left: 20px;
}

.workspace-head{
    margin-left: 20px;
}
.workspace-item{
    cursor: pointer;/*鼠标放上去变小手*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
    padding-left: 20px;
}
.workspace-item-select{
    cursor: pointer;/*鼠标放上去变小手*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
    padding-left: 20px;
    background: #ddf0fb;
}

.workspace-item-head{
    cursor: pointer;/*鼠标放上去变小手*/
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.workspace-item-head-bg{
    cursor: pointer;/*鼠标放上去变小手*/
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background-color: #9e344f;
}

.workspace-item-head-img{
    cursor: pointer;/*鼠标放上去变小手*/
    width: 20px;
    height: 20px;
    border-radius: 10px;
    align-self: center;
}
.workspace-item-content{
    cursor: pointer;/*鼠标放上去变小手*/
    align-self: center;
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 100px;
    margin-left: 10px;
}

.workspace-item-title{
    cursor: pointer;/*鼠标放上去变小手*/
    font-size: small;
}

.workspace-item-num{
    cursor: pointer;/*鼠标放上去变小手*/
    font-size: small;
}

.workspace-item-fill{
    cursor: pointer;/*鼠标放上去变小手*/
    flex-grow: 1;
}

.workspace-item-more{
    cursor: pointer;/*鼠标放上去变小手*/
    align-self: center;
    height: 20px;
    width: 20px;
    margin-right: 4px;
}