.global{
    /*margin: -10px;*/
    width: 100%;
    height: 100%;
    position: relative;
}

.home{
    z-index: 1;
    /*background-color: #EFF5F7;*/
    /*margin: -10px;*/
    /*margin-right: 100px;*/
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.floatWindow{
    position: absolute;
    width: 60%;
    height: 60%;
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: red;
    top: 0px;
    visibility: hidden;
}




