.select-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #DBDBDB;
    padding: 10px;
    background-color: white;
}

.select-input{
    /*border-radius: 5px;*/
    /*border: 1px solid #DBDBDB;*/
    /*padding: 10px;*/
    /*margin: 20px;*/
    overflow:auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: #FFFFFF;
}

.select-img{
    align-self: center;
}